<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<h2>Upcoming Activities</h2>
<% if @user.activities.any? %>
    <h3>My Activities</h3>
    <ul>
        <%= render(@user.cleaning_dates) %>
    </ul>
<% else %>
    <p>No activities? <%= button_to "Get activities!", cleaning_dates_path %></p>
<% end %>